@charset "utf-8";
h1 {
color: red;
}
header {
  border-top: solid 10px #000000;
  border-bottom: solid 10px #000000;


}
header, footer, nav{
  text-align: center;
}
nav li {
  list-style: none;
}
main {
  width: 720px;
  margin-right: auto;
  margin-left: auto;

}
footer {
  border-top: solid 5px #000000
}
header, footer {
  background-color:#e1eec1 ;
}
div {
  background-color:#e5b7be
}
nav {
  background-color: #ffe0b6
}
